mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__wrapper
        .footer__top
          .footer__contacts
            .footer__phone
              a.footer__contact-link(href="tel:83432971311", aria-label="Телефон компании") 8 (343) 297-13-11
              p.footer__text Телефоны аварийно-диспетчерской службы
            .footer__mail
              a.footer__contact-link(href="mailto:vizit@rempuzhsk.ru", aria-label="Электронная почта компании") vizit@rempuzhsk.ru
              p.footer__text Для граждан, собственников жилья
          .footer__menu
            ul.footer__list
              each link in navLinks
                li.footer__menu-item
                  a.link.link--black.footer__menu-link(href=link.href)=link.text
          .footer__block
            a.btn.btn--black.footer__btn(href="#", aria-label="Версия для слабовидящих") Версия для слабовидящих
              +icon("icon-version-visually", 24, 24)
        .footer__bottom

          span.footer__text © 2000 &mdash; 2021
          a.footer__text.footer__text--link.link.link--grey(href="#", target="_blank", rel="nofollow noopener noreferrer") Политика обработки персональных данных
          a.footer__text.footer__text--icon.link.link--grey(href="#", target="_blank", rel="nofollow noopener noreferrer") Разработан в компании

            +icon("icon-design-logo", 40, 22)
