doctype html

include ../base/data
include ../base/mixins
include ../base/header
include ../base/footer
include ../base/modal

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="УК УЖСК — управляющая компания в г.Екатеринбурге")

    link(rel="apple-touch-icon", sizes="180x180", href="./favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./favicon/favicon-16x16.png")
    link(rel="manifest", href="./favicon/site.webmanifest", crossorigin="use-credentials")
    link(rel="mask-icon", href="./favicon/safari-pinned-tab.svg", color="#426b71")
    meta(name="msapplication-TileColor", content="#426b71")
    meta(name="theme-color", content="#ffffff")

    link(rel="preload", href="fonts/mplus-regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/manrope-regular.woff2", as="font", crossorigin="anonymous")

    link(rel="stylesheet", href="css/style.min.css")

  body
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentPage)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
