mixin application()
  section.application
    h2.visually-hidden Предложение подать заявку
    .container
      .application__wrapper
        .application__block
          h2.application__title.title.title--md Хотите подключить дом к управляющей компании РЭМП УЖСК?
          .application__info
            p Как только наберется несколько заявок из вашего дома, можно будет начинать готовиться к общему собранию по выбору УК
          a.btn.btn--black.application__btn Подать заявку
        span.application__img
          +picture("content", "application-bg", "png", 696, 668, "Декоративное изображение")
