mixin searchForm(isIntro)
  section.search-form(class=isIntro ? "search-form--intro" : "", data-search="searchForm")
    .container
      .search-form__wrapper
        .search-form__heading
          h2.search-form__title.title.title--md Найти свой дом
          .search-form__text
            p Объявления, документы и полезная информация по вашему дому
        .search-form__block
          form(action="#", method="GET")
            +icon("icon-search", 24, 24).search-form__icon
            label(aria-label="Введите запрос")
              input(type="search" name="search" placeholder="Введите адрес или название ЖК")
          .search-form__content
            .search-form__result
              each item in homesList
                a= item.address
            .search-form__empty
              h3.title.title--sm Ничего не найдено
              p К сожалению, по вашему запросу ничего не найдено. Проверьте, что все написано верно.
