mixin statistics()
  section.statistics
    h2.visually-hidden Статистика компании
    .container
      .statistics__wrapper
        each item in statistics
          p.statistics__item
            span.statistics__num=item.number
            span.statistics__text=item.text
