// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "M PLUS 1p";

  font-display: swap;
  src:
    url("../fonts/mplus-regular.woff2") format("woff2"),
    url("../fonts/mplus-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "M PLUS 1p";

  font-display: swap;
  src:
    url("../fonts/mplus-bold.woff2") format("woff2"),
    url("../fonts/mplus-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("../fonts/manrope-regular.woff2") format("woff2"),
    url("../fonts/manrope-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("../fonts/manrope-medium.woff2") format("woff2"),
    url("../fonts/manrope-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("../fonts/manrope-semibold.woff2") format("woff2"),
    url("../fonts/manrope-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("../fonts/manrope-bold.woff2") format("woff2"),
    url("../fonts/manrope-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Manrope";

  font-display: swap;
  src:
    url("../fonts/manrope-extrabold.woff2") format("woff2"),
    url("../fonts/manrope-extrabold.woff") format("woff");
}
