mixin cardAdv(title, date, info, href, more)
  .card-adv
    .card-adv__wrapper
      p.title.title--sm.card-adv__date=date
      h3.title.title--sm.card-adv__title=title
      p.card-adv__info=info
      a.card-adv__link.link.link--blue(href=href)=more
