mixin cardReport(iconDoc, title, date, icon, arr)
  .card-article
    a.card-article__link(href="#", download="")
    +icon(iconDoc, 60, 60).report__icon-doc
    .card-article__wrapper
      .card-article__hashtags
        each item in arr
          p=item.hashtag
      h3.title.title--sm.report__card-title=title
      p.card-article__date=date
    +icon(icon, 36, 36).report__icon-download
