-
  const advs = [
    {
      title: "Вниманию жителей дома!",
      date: "25.01.2021",
      info: `В связи с ремонтными работами на сетях АО "ЕТК" произведено отключение горячего водоснабжения 28 декабря 2020 г. с 8.30 до 20.00 . По информации АО «ЭнергосбыТ Плюс`,
      href: "adv.html",
      more: "Детальная информация",
    },
    {
      title: "Вниманию жителей дома!",
      date: "25.01.2021",
      info: `В связи с ремонтными работами на сетях АО "ЕТК" произведено отключение горячего водоснабжения 28 декабря 2020 г. с 8.30 до 20.00 . По информации АО «ЭнергосбыТ Плюс`,
      href: "adv.html",
      more: "Детальная информация",
    },
  ]
