-
  const articles = [
    {
      title: 'Посадка цветов на жилом фонде завершилась!',
      href: "article.html",
      date: '20.01.2021',
      hashtags: [
        {
          hashtag: '#Полезная информация',
        },
        {
          hashtag: '#О жкх',
        }
      ],
    },
    {
      title: 'Горячий ЖКХ-сезон, что должна сделать УК в летний период',
      href: "article.html",
      date: '19.06.2021',
      hashtags: [
        {
          hashtag: '#О жкх',
        },
      ],
    },
    {
      title: 'ООО "УК РЭМП УЖСК" поздравили ветеранов с праздниками!',
      href: "article.html",
      date: '18.05.2021',
      hashtags: [
        {
          hashtag: '#Итоги конкурсов',
        }
      ],
    },
  ]
