-
  const contacts = [
    {
      title: "Основная <br> аварийно-диспетчерская служба",
      tel: "(343) 297-14-20",
      telFull: "+73432971420",
      city: "г.Екатеринбург",
      address: "ул. Ферганская, 1 (вход с торца дома)",
      hours: "Ежедневно, круглосуточно",
      isTransparent: false,
    },
    {
      title: "Дополнительная <br> аварийно-диспетчерская служба",
      tel: "(343) 297-14-20",
      telFull: "+73432971420",
      city: "г.Екатеринбург",
      address: "ул. Ферганская, 1 (вход с торца дома)",
      hours: "Ежедневно, круглосуточно",
      isTransparent: true,
    },
  ]
