-
  const departments = [
    {
      table: [
        {
          title: "Главный офис",
          tdTitle: "г. Екатеринбург, ул. Газетная, 65",
          texts: [
            {text: "Понедельник: 8.00 - 18.00, обед 12.00 - 13.00."},
            {text: "Четверг: 8.00 - 17.00, обед 12.00 - 13.00."},
          ],
          links: [
            {
              linkDesc: "",
              num: "8 (343) 297-14-20"
            },
            {
              linkDesc: "",
              num: "297-13-11"
            },
            {
              linkDesc: "",
              num: "297-33-04"},
            {
              linkDesc: "",
              num: "vizit@rempuzhsk.ru"
            },
          ],
        },
      ],
    },
    {
      table: [
        {
          title: "Руководство",
          tdTitle: "Генеральный директор (приемная, секретарь)",
          text: "Генеральный директор ведет личный прием граждан по будням по предварительной записи!",
          cabinet: "111",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
            },
            {
              linkDesc: "Факс:",
              num: "8 (343) 297-01-10"
            },
          ],
        },
        {
          title: "Руководство",
          tdTitle: "Технический директор",
          cabinet: "105",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
            },
          ],
        },
        {
          title: "Руководство",
          tdTitle: "Директор по капитальному ремонту",
          cabinet: "109",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
            },
          ],
        },
      ],
    },
    {
      table: [
        {
          title: "Отдел по обращениям граждан",
          tdTitle: "С какими вопросами обращаться?",
          isDisc: true,
          texts: [
            {text: "Контроль работы клининговых компаний (уборка дворов и подъездов, вывоз мусора), подрядных организаций по обслуживанию и текущему ремонту общего имущества МКД"},
            {text: "Обеспечение надлежащей технической эксплуатации инженерных систем электроснабжения, лифтового хозяйства МКД"},
            {text: "Взаимодействие с телекоммуникационными компаниями, операторами связи"},
            {text: "Консультация по годовым отчетам УК"},
          ],
          cabinet: "111",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
            },
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-32-27"
            },
          ],
        },
      ]
    },
    {
      table: [
        {
          title: "Отдел по работе с населением",
          tdTitle: "С какими вопросами обращаться?",
          isDisc: true,
          texts: [
            {text: "Контроль работы клининговых компаний (уборка дворов и подъездов, вывоз мусора), подрядных организаций по обслуживанию и текущему ремонту общего имущества МКД"},
            {text: "Обеспечение надлежащей технической эксплуатации инженерных систем электроснабжения, лифтового хозяйства МКД"},
            {text: "Взаимодействие с телекоммуникационными компаниями, операторами связи"},
            {text: "Консультация по годовым отчетам УК"},
          ],
          cabinet: "111",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
            },
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-32-27"
            },
          ],
        },
      ]
    },
    {
      table: [
        {
          title: "Отдел капитального ремонта",
          tdTitle: "С какими вопросами обращаться?",
          isDisc: true,
          texts: [
            {text: "Контроль работы клининговых компаний (уборка дворов и подъездов, вывоз мусора), подрядных организаций по обслуживанию и текущему ремонту общего имущества МКД"},
            {text: "Обеспечение надлежащей технической эксплуатации инженерных систем электроснабжения, лифтового хозяйства МКД"},
            {text: "Взаимодействие с телекоммуникационными компаниями, операторами связи"},
            {text: "Консультация по годовым отчетам УК"},
          ],
          cabinet: "111",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
              },
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-32-27"
            },
          ],
        },
      ]
    },
    {
      table: [
        {
          title: "Производственно-технический отдел",
          tdTitle: "С какими вопросами обращаться?",
          isDisc: true,
          texts: [
            {text: "Контроль работы клининговых компаний (уборка дворов и подъездов, вывоз мусора), подрядных организаций по обслуживанию и текущему ремонту общего имущества МКД"},
            {text: "Обеспечение надлежащей технической эксплуатации инженерных систем электроснабжения, лифтового хозяйства МКД"},
            {text: "Взаимодействие с телекоммуникационными компаниями, операторами связи"},
            {text: "Консультация по годовым отчетам УК"},
          ],
          cabinet: "111",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
            },
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-32-27"
            },
          ],
        },
      ]
    },
    {
      table: [
        {
          title: "Отдел по коммунальным услугам",
          tdTitle: "С какими вопросами обращаться?",
          isDisc: true,
          texts: [
            {text: "Контроль работы клининговых компаний (уборка дворов и подъездов, вывоз мусора), подрядных организаций по обслуживанию и текущему ремонту общего имущества МКД"},
            {text: "Обеспечение надлежащей технической эксплуатации инженерных систем электроснабжения, лифтового хозяйства МКД"},
            {text: "Взаимодействие с телекоммуникационными компаниями, операторами связи"},
            {text: "Консультация по годовым отчетам УК"},
          ],
          cabinet: "111",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
            },
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-32-27"
            },
          ],
        },
      ]
    },
    {
      table: [
        {
          title: "Юридический отдел",
          tdTitle: "С какими вопросами обращаться?",
          isDisc: true,
          texts: [
            {text: "Контроль работы клининговых компаний (уборка дворов и подъездов, вывоз мусора), подрядных организаций по обслуживанию и текущему ремонту общего имущества МКД"},
            {text: "Обеспечение надлежащей технической эксплуатации инженерных систем электроснабжения, лифтового хозяйства МКД"},
            {text: "Взаимодействие с телекоммуникационными компаниями, операторами связи"},
            {text: "Консультация по годовым отчетам УК"},
          ],
          cabinet: "111",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
            },
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-32-27"
            },
          ],
        },
      ]
    },
    {
      table: [
        {
          title: "Бухгалтерия, касса",
          tdTitle: "С какими вопросами обращаться?",
          isDisc: true,
          texts: [
            {text: "Контроль работы клининговых компаний (уборка дворов и подъездов, вывоз мусора), подрядных организаций по обслуживанию и текущему ремонту общего имущества МКД"},
            {text: "Обеспечение надлежащей технической эксплуатации инженерных систем электроснабжения, лифтового хозяйства МКД"},
            {text: "Взаимодействие с телекоммуникационными компаниями, операторами связи"},
            {text: "Консультация по годовым отчетам УК"},
          ],
          cabinet: "111",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
            },
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-32-27"
            },
          ],
        },
      ]
    },
    {
      table: [
        {
          title: "Пресс-секретарь",
          tdTitle: "Пресс-секретарь",
          cabinet: "105",
          links: [
            {
              linkDesc: "Телефон:",
              num: "8 (343) 297-00-77"
            },
          ],
        },
      ]
    },
    {
      table: [
        {
          title: "Реквизиты",
          tdTitle: 'Общество с ограниченной ответственностью "УК РЭМП УЖСК"',
          texts: [
            {text: "ИНН: 6679068585"},
            {text: "ОГРН: 1156679005152"},
            {text: "Юридический адрес: Свердловская обл, г Екатеринбург, ул Газетная, дом 65, офис 101"},
            {text: "Почтовый адрес: Свердловская обл, г Екатеринбург, ул Газетная, дом 65"},
          ],
        },
      ]
    },
  ]
