-
  const disclosureDocs = [
    {
      iconDoc: "icon-pdf",
      title: 'Технические характеристики дома',
      date: 'Актуален, от 30.12.2020. Дата документа 24.11.2020',
      icon: "icon-download",
    },
    {
      iconDoc: "icon-xls",
      title: 'Тарифы',
      date: 'Актуален, от 30.12.2020. Дата документа 24.11.2020',
      icon: "icon-download",
    },
    {
      iconDoc: "icon-doc",
      title: 'Перечень предоставляемых коммунальных услуг',
      date: 'Актуален, от 30.12.2020. Дата документа 24.11.2020',
      icon: "icon-download",
    },
    {
      iconDoc: "icon-doc",
      title: 'Капитальный ремонт',
      date: 'Актуален, от 30.12.2020. Дата документа 24.11.2020',
      icon: "icon-download",
    },
    {
      iconDoc: "icon-doc",
      title: 'Содержание и ремонт',
      date: 'Актуален, от 30.12.2020. Дата документа 24.11.2020',
      icon: "icon-download",
    },
    {
      iconDoc: "icon-doc",
      title: 'Отчет о расходах',
      date: 'Актуален, от 30.12.2020. Дата документа 24.11.2020',
      icon: "icon-download",
    },
    {
      iconDoc: "icon-doc",
      title: 'Договор управления',
      date: 'Актуален, от 30.12.2020. Дата документа 24.11.2020',
      icon: "icon-download",
    },
  ]
