-
  const homesList = [
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "home.html",
      city: "Екатеринбург,",
      address: "пер. Газорезчиков, д. 37",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Газорезчиков, д. 38",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Газорезчиков, д. 39",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Газорезчиков, д. 40",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Ботанический",
      icon: "icon-house-2",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Газорезчиков, д. 41",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Ботанический",
      icon: "icon-house-2",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Газорезчиков, д. 42",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Газорезчиков, д. 43",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Газорезчиков, д. 37",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Южная подстанция",
      icon: "icon-house-3",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Дизельный, д. 31",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Южная подстанция",
      icon: "icon-house-3",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Дизельный, д. 33",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Дизельный, д. 35",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "32 военный городок",
      icon: "icon-house-4",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Коллективный, д. 11",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Коллективный, д. 13",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "32 военный городок",
      icon: "icon-house-4",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Коллективный, д. 15",
      info: "2 подъезда, 156 квартир"
    },
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Коллективный, д. 19",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Газорезчиков, д. 37",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "Вторчермет",
      icon: "icon-house-1",
      href: "#",
      city: "Екатеринбург,",
      address: "пер.Дизельный, д. 35",
      info: "2 подъезда, 156 квартир",
    },
    {
      filter: "32 военный городок",
      icon: "icon-house-4",
      href: "#",
      city: "Екатеринбург,",
      address: "пер. Коллективный, д. 11",
      info: "2 подъезда, 156 квартир",
    },
  ]
