-
  const homesFilter = [
    {
      filter: "Все",
      checked: true
    },
    {
      filter: "Вторчермет"
    },
    {
      filter: "Ботанический"
    },
    {
      filter: "Южная Подстанция"
    },
    {
      filter: "32 военный городок"
    }
  ]
