-
  const introList = [
    {
      icon: "icon-pay",
      text: "Оплачивайте квитанции",
    },
    {
      icon: "icon-info",
      text: "Передавайте показания",
    },
    {
      icon: "icon-notice",
      text: "Получайте актуальные объявления",
    },

 {
      icon: "icon-services",
      text: "Заказывайте услуги",
    },
  ]
