-
  const navLinks = [
    {
      href: "homes.html",
      text: "Дома в управлении"
    },
    {
      href: "social.html",
      text: "Общественная деятельность"
    },
    {
      href: "contacts.html",
      text: "Контакты"
    }
  ]
