-
  const reportsFilter = [
    {
      filter: "Все",
      checked: true
    },
    {
      filter: "Выбор ук"
    },
    {
      filter: "совет дома"
    },
    {
      filter: "Капитальный ремонт"
    },
    {
      filter: "Текущий ремонт"
    },
    {
      filter: "Благоустройство"
    },
    {
      filter: "Прочее"
    }
  ]
