-
  const reports = [
    {
      iconDoc: "icon-pdf",
      title: 'Протокол общего собрания собственников помещений',
      date: 'от 30.12.2020. Дата документа 24.11.2020',
      icon: "icon-download",
      hashtags: [
        {
          hashtag: '#Выбор УК',
        },
        {
          hashtag: '#совет дома',
        },
        {
          hashtag: '#текущий ремонт',
        },
      ],
    },
    {
      iconDoc: "icon-doc",
      title: 'Протокол общего собрания собственников помещений',
      date: 'от 30.12.2020. Дата документа 24.11.2020',
      icon: "icon-download",
      hashtags: [
        {
          hashtag: '#Выбор УК',
        },
        {
          hashtag: '#совет дома',
        },
        {
          hashtag: '#текущий ремонт',
        },
      ],
    },
  ]
