-
  const statistics = [
    {
      number: "394",
      text: "Дома в управлении",
    },
    {
      number: "82",
      text: "Сотрудника работает в нашей компании",
    },
    {
      number: "15",
      text: "Инженеров ежедневно решают проблемы собственников",
    },
  ]
