-
  const wwdoingList = [
    {
      isBigger: true,
      image: "repair",
      title: "Текущий ремонт",
      text: "Конечно, это целый комплекс мероприятий, охватывающий эксплуатацию и восстановление всего, что относится к  общему имуществу многоквартирного дома. Другими словами, УК должна осмотреть дом полностью от крыши до подвала и устранить все выявленные нарушения. ",
    },
    {
      image: "city",
      title: "Капитальный ремонт",
      text: "Конечно, это целый комплекс мероприятий, охватывающий эксплуатацию и восстановление всего, что относится к  общему имуществу многоквартирного дома. Другими словами, УК должна осмотреть дом полностью от крыши до подвала и устранить все выявленные нарушения. ",
    },
    {
      image: "yard",
      title: "Благоустройство придомовых территорий",
      text: "Конечно, это целый комплекс мероприятий, охватывающий эксплуатацию и восстановление всего, что относится к  общему имуществу многоквартирного дома. ",
    },
    {
      image: "keys",
      title: "Услуги по управлению",
      text: "Конечно, это целый комплекс мероприятий, охватывающий эксплуатацию и восстановление всего, что относится к  общему имуществу многоквартирного дома. Другими словами, УК должна осмотреть дом полностью от крыши до подвала и устранить все выявленные нарушения. ",
    },
    {
      image: "services",
      title: "Прочие услуги",
      text: "Конечно, это целый комплекс мероприятий, охватывающий эксплуатацию и восстановление всего, что относится к  общему имуществу многоквартирного дома. Другими словами, УК должна осмотреть дом полностью от крыши до подвала и устранить все выявленные нарушения. ",
    },
  ]
