extends ../base/layout

block variables
  - const title = "Контакты - УК УЖСК"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = 2

block main

  main.contacts

    section.contacts-heading
      .container
        .contacts-heading__wrapper
          +picture("content", "contacts-head", "png", 1023, 692, "Декоративное изображение").contacts-heading__picture
          h1.contacts-heading__title.title.title--xl Контакты
          p.contacts-heading__desc Обращайтесь, будем рады ответить на все ваши вопросы
          .contacts-heading__cards
            each item in contacts
              +cardContact(item.title, item.tel, item.telFull, item.city, item.address, item.hours, item.isTransparent)

    section.contacts-department
      .container
        .contacts-department__wrapper
          h2.contacts-department__title.title.title--md Контакты всех отделов

          .contacts-department__accordion(data-accordion="parent")
            each item in departments
              +cardDepartment(item.table)

    +application()

block modals
