extends ../base/layout

block variables
  - var title = "Страница дома - УК УЖСК"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = ""

block main
  main
    h1.visually-hidden Страница дома

    section.home-intro
      .container
        .home-intro__wrapper
          +picture("content", "home-head", "png", 676, 416, "Декоративное изображение")
          for item, index in homesList
            if (index === 0)
              .home-intro__content
                p.home-intro__text= item.filter
                p.title.title--sm= item.city
                span.title.title--sm= item.address
                span.card-home__info= item.info

    section.adv
      .container
        h2.title.title--md Объявление для собственников
        .adv__list
          each item in advs
            +cardAdv(item.title, item.date, item.info, item.href, item.more)
        a.adv__link.link.link--blue Больше объявлений

    section.report
      .container
        h2.title.title--md Отчеты
        +reportFilters()
        .report__list
          each item in reports
            +cardReport(item.iconDoc, item.title, item.date, item.icon, item.hashtags)
        a.report__link.link.link--blue Больше протоколов

    section.disclosure
      .container
        .disclosure__accordion(data-accordion="parent")
          .disclosure__wrapper(data-accordion="element")
            button.contacts__accordion-btn.btn.title.title--md(type="button", data-accordion="button") Раскрытие информации
              +icon("icon-arrow-sm", 35, 16)
            .disclosure__list(data-accordion="content")
              each item in disclosureDocs
                +cardDisclosure(item.iconDoc, item.title, item.date, item.icon)
        a.disclosure__link.link.link--blue Посмотреть архивные документы

    +application()

block modals
