extends ../base/layout

block variables
  - const title = "UI-kit"
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentPage = ""

block main
  style.
    main > .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .components-backwards {
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 7px;
    }

    .components-backwards span:first-child {
      position: relative;
      top: -3px;

      display: inline-block;
      margin-right: 15px;

      font-size: 16px;
      line-height: 24px;
      vertical-align: top;

      transform: scale(2);
    }

    .components-backwards span:last-child {
      font-size: 16px;
      line-height: 24px;
    }

    .components-backwards + h1 {
      margin-bottom: 0;
    }

    .container > section {
      padding: 20px 0;
    }

    .components-backwards-wrapper {
      width: 100%;
      padding: 20px;

      display: flex;
      justify-content: flex-start;

      background: #077339;
    }

    .components-backwards-border {
      margin-bottom: 40px;
      padding-bottom: 40px;

      border-bottom: 1px solid #077339;
    }

  main
    .container
      a.components-backwards(href="index.html")
        span &larr;
        span вернуться на разводящую
      h1 Компоненты, используемые в вёрстке

      section
        h2 Модалки
        p
          a(href="#", data-modal="feedback") modal--feedback link
        p
          a(href="#", data-modal="success") modal--success link

      section
        h2 Компонент или группа компонентов

        div.components-backwards-border
          p .link \ .link--white
          p (hover - наведи курсор на ссылку)
          div.components-backwards-wrapper
            a.link.link--white Ссылка

        div.components-backwards-border
          p .link \ .link--black
          p (hover - наведи курсор на ссылку)
          div.components-backwards-wrapper
            a.link.link--black Ссылка

        div.components-backwards-border
          p .btn \ .btn--yellow
          button.btn.btn--yellow(type="button") Кнопка

        div.components-backwards-border
          p .btn \ .btn--black
          button.btn.btn--black(type="button") Кнопка

        div.components-backwards-border
          p .btn \ .btn--grey
          button.btn.btn--grey(type="button") Кнопка

        div.components-backwards-border
          p .btn \ .btn--yellow \ атрибут disabled
          button.btn.btn--yellow(type="button", disabled) Неактивная кнопка

        div.components-backwards-border
          p .btn \ .btn--icon \ (нужно задать color)
          p ссылка "Версия для слабовидящих"
          div.components-backwards-wrapper
            a.btn.btn--icon(style="color:#ffffff", href="#", aria-label="Версия для слабовидящих")
              +icon("icon-version-visually", 60, 60)

        div.components-backwards-border
          p .link \ .link--arrow
          +linkArrow("article.html", "Все статьи")

        div.components-backwards-border
          p .link \ .link--dodger-blue
          a.link.link--dodger-blue(href="tel:+73432971420") 8 (343) 297-14-20

block modals
  +modal("modal--feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")
    +modal-success()
