.adv {
  margin-bottom: size(100px);

  .container {
    @media (min-width: $vp--1920) {
      padding: 0 size(260px);
    }
  }

  h2 {
    margin-bottom: size(40px);
  }

  .card-adv {
    margin-bottom: size(20px);
  }

  .adv__list {
    margin-bottom: size(40px);
  }
}
