.contacts-heading {
  position: relative;
  width: 100%;
  min-height: size(692px);

  color: $color-default-white;
  background: $gable-green-to-right;

  @include vp--1279 {
    min-height: size(452px);
  }

  &__wrapper {
    padding: size(105px) 0 size(190px);
    padding-left: size(160px);

    @include vp--1919 {
      padding-left: 0;
    }

    @include vp--1279 {
      padding: size(62px) 0 size(60px);
    }

    @include vp--767 {
      padding: size(8px) 0 size(40px);
    }
  }

  &__picture {
    position: absolute;
    bottom: 0;
    right: 0;

    pointer-events: none;

    @include vp--1919 {
      right: size(-190px);
    }

    @include vp--1279 {
      display: none;
    }

    img {
      width: size(1023px);
      height: size(692px);
      object-fit: cover;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: size(10px);
    padding: 0;

    @include vp--767 {
      margin-bottom: size(15px);
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: size(25px);
    padding: 0;

    @include vp--1279 {
      margin-bottom: size(15px);

      font-size: size(14px);
      line-height: size(21px);
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    max-width: size(1000px);
    margin-top: size(-20px);
    margin-left: size(-40px);

    @include vp--1919 {
      margin-left: size(-30px);
    }

    @include vp--1023 {
      max-width: 100%;
      margin-left: 0;
      justify-content: space-between;
    }
  }

  .card-contact {
    margin-top: size(20px);
    margin-left: size(40px);

    @include vp--1919 {
      margin-left: size(30px);
    }

    @include vp--1023 {
      margin-left: 0;
    }
  }
}
