.footer {
  min-height: size(100px);
  padding-top: size(102px);
  background-color: $color-default-white;

  @include vp--1023 {
    padding-top: size(58px);
  }

  @include vp--767 {
    padding-top: size(40px);
  }

  &__wrapper {
    margin-bottom: size(28px);

    @media (min-width: $vp--1920) {
      padding: 0 size(160px);
    }
  }

  &__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: size(81px);

    @include vp--1023 {
      margin-bottom: size(63px);
    }

    @include vp--767 {
      flex-direction: column;
      margin-bottom: size(30px);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include vp--767 {
      flex-wrap: wrap;
      text-align: center;
    }
  }

  .footer__bottom span {
    display: inline-block;
    margin-right: size(188px);

    @include vp--1919 {
      margin-right: size(115px);
    }

    @include vp--1023 {
      margin-right: size(40px);
    }

    @include vp--767 {
      margin-right: 0;
    }
  }

  &__contacts {
    margin-right: size(120px);
    max-width: size(400px);

    @include vp--1919 {
      margin-right: size(35px);
    }

    @include vp--1023 {
      margin-right: size(30px);
      max-width: size(236px);
    }

    @include vp--767 {
      max-width: 100%;
      margin-bottom: size(40px);
      margin-right: 0;
    }
  }

  &__contact-link {
    display: inline-block;
    color: $color-vulcan;
    margin-bottom: size(10px);

    &:hover {
      color: $color-light-slate-grey;
    }

    @include vp--1023 {
      font-size: size(14px);
      line-height: size(21px);
      margin-bottom: size(4px);
    }
  }

  &__phone {
    margin-bottom: size(42px);
    display: flex;
    flex-direction: column;

    @include vp--1023 {
      margin-bottom: size(10px);
    }

    @include vp--767 {
      margin-bottom: size(18px);
    }
  }

  &__mail {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    max-width: size(400px);

    @include vp--1919 {
      max-width: size(300px);
    }

    @include vp--1023 {
      max-width: size(160px);
    }

    @include vp--767 {
      order: -1;
      max-width: 100%;
      margin-bottom: size(40px);
    }
  }

  &__block {
    margin-left: auto;

    @include vp--767 {
      margin-left: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.footer__menu-item {
  margin-bottom: size(23px);

  @include vp--1023 {
    margin-bottom: size(15px);
  }

  @include vp--1023 {
    margin-bottom: size(13px);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .link {
    font-weight: 300;
    line-height: size(21px);
  }
}

.footer__text {
  margin: 0;
  font-size: size(16px);
  line-height: size(24px);
  color: $color-light-slate-grey;
  letter-spacing: 0.02em;

  @include vp--1023 {
    font-size: size(12px);
    line-height: size(18px);
  }

  &--icon {
    position: relative;
    padding-right: size(60px);

    @include vp--1023 {
      padding-right: size(53px);
    }

    svg {
      position: absolute;
      right: 2px;
      bottom: 0;
    }
  }

  &--link {
    @include vp--767 {
      order: -1;
      width: 100%;
      margin: 0 auto;
      margin-bottom: size(25px);
    }
  }
}

.footer__btn {
  position: relative;
  width: size(295px);
  padding-left: size(48px);

  @include vp--1919 {
    width: size(302px);
    padding: size(13px) size(20px);
    padding-left: size(55px);
  }

  @include vp--1023 {
    width: size(238px);
    padding: size(12px) size(10px) size(10px);
    padding-left: size(45px);
    font-size: size(12px);
    line-height: size(18px);
  }

  @include vp--767 {
    width: 100%;
  }

  svg {
    position: absolute;
    width: size(24px);
    height: size(24px);
    left: size(20px);

    @include vp--1023 {
      left: size(20px);
    }
  }
}
