.header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: size(110px);
  margin-bottom: -1px;

  background: $gable-green-to-right;

  @include vp--1023 {
    min-height: size(70px);
  }

  @include vp--767 {
    min-height: size(120px);
  }

  &::before {
    @include vp--767 {
      content: "";
      width: 100%;
      height: size(31px);

      position: absolute;
      top: 0;
      left: 0;

      background-color: rgba($color-vulcan, 0.2);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo-wrapper {
    margin-right: size(64px);

    @include vp--1919 {
      margin-right: size(25px);
    }

    @include vp--1279 {
      margin-right: size(16px);
    }

    @include vp--767 {
      margin-right: size(40px);
    }
  }

  &__logo {
    margin-left: size(23px);
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    @include vp--1919 {
      margin-left: 0;
    }

    /* stylelint-disable-next-line */
    svg {
      width: size(74px);
      height: size(71px);
    }

    color: $color-default-white;

    @include vp--1023 {
      /* stylelint-disable-next-line */
      svg {
        width: size(40px);
        height: size(40px);
      }
    }
  }

  &__navigation {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  &__burger-btn {
    display: none;

    @include vp--1023 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      width: size(40px);
      height: size(40px);
      padding: 0;

      color: $color-default-white;

      z-index: 11;

      /* stylelint-disable-next-line */
      svg:first-child {
        display: flex;
        width: size(24px);
        height: size(24px);
      }

      /* stylelint-disable-next-line */
      svg:last-child {
        display: none;
        width: size(24px);
        height: size(24px);
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include vp--1023 {
      justify-content: flex-end;
    }
  }

  &__menu-link--active {
    border-bottom: size(1px) solid $color-default-white;
    pointer-events: none;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: 0;
    margin-left: size(-40px);
    padding: 0;

    list-style: none;

    @include vp--1919 {
      margin-left: size(-30px);
    }

    @include vp--1023 {
      display: none;
    }
  }

  &__menu-item {
    margin-left: size(40px);

    @include vp--1919 {
      margin-left: size(30px);
      letter-spacing: 0.03em;
    }

    @include vp--1023 {
      margin-left: 0;
      width: 100%;
    }
  }

  &__menu-link {
    font-weight: 500;
    letter-spacing: 0.03em;

    @include vp--1919 {
      font-size: size(16px);
      line-height: size(28px);
      letter-spacing: 0.01em;
    }
  }

  &__btns {
    margin-top: size(-10px);
    margin-left: size(-15px);
    max-width: size(750px);
    min-width: size(550px);

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    @include vp--1919 {
      margin-left: size(-20px);
      min-width: auto;
    }

    @include vp--1023 {
      max-width: size(500px);
      min-width: size(405px);
    }

    @include vp--767 {
      max-width: size(450px);
      min-width: auto;
      margin-left: size(-10px);
    }
  }

  &__btns-item {
    margin-top: size(10px);
    margin-left: size(15px);

    @include vp--1919 {
      margin-left: size(20px);
    }

    @include vp--767 {
      margin-left: size(10px);
    }
  }

  &__tel {
    @include vp--1919 {
      font-weight: 500;
      font-size: size(16px);
      line-height: size(28px);
      letter-spacing: 0.03em;
    }

    @include vp--1023 {
      font-weight: 300;
    }

    @include vp--767 {
      margin: 0;

      position: absolute;
      top: size(-35px);
      right: 0;

      font-size: size(14px);
      line-height: size(21px);
    }
  }
}
