.search-form {
  width: 100%;
  padding: size(40px) 0 size(100px);
  padding-bottom: 0;

  @include vp--767 {
    padding: 0;

    .container {
      padding: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: size(102px) size(163px);
    background: $color-alice-blue;

    @include vp--1919 {
      padding: size(60px) size(60px) size(86px);
    }

    @include vp--1023 {
      padding: size(40px) size(60px) size(40px);
      flex-direction: column;
    }

    @include vp--767 {
      padding: size(40px) size(20px);
    }
  }

  &__heading {
    max-width: size(415px);
    display: flex;
    flex-direction: column;

    @include vp--1919 {
      max-width: size(345px);
    }

    @include vp--1023 {
      max-width: 100%;
    }
  }

  &__block {
    position: relative;
    width: size(922px);
    margin-top: size(25px);

    @include vp--1023 {
      width: size(568px);
      margin-top: size(10px);
    }

    @include vp--767 {
      width: size(319px);
      margin-top: size(20px);
    }
  }

  &__title {
    margin-bottom: size(20px);

    @include vp--1919 {
      margin-bottom: size(6px);
    }

    @include vp--1023 {
      margin-bottom: size(14px);
    }
  }

  &__text {
    margin: 0;
    font-weight: 300;
    font-size: size(18px);
    line-height: size(25px);

    @include vp--1023 {
      font-size: size(14px);
      line-height: size(21px);
    }

    p {
      margin: 0;
    }
  }

  form {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: size(32px) size(25px) size(28px);
    height: size(80px);

    background-color: $color-default-white;

    @include vp--1023 {
      height: size(50px);
      padding: size(13px) size(26px);
    }

    @include vp--767 {
      width: size(319px);
      padding-right: size(15px);
    }

    svg {
      position: absolute;
      color: $color-light-slate-grey;

      &:hover,
      &:focus {

        /* stylelint-disable-next-line */
        svg {
          color: $color-vulcan;
        }
      }

      &:active,
      &:disabled {
        /* stylelint-disable-next-line */
        svg {
          color: $color-link-water;
        }
      }
    }
  }

  label {
    width: 100%;
  }

  input {
    width: 100%;
    padding-left: size(40px);

    font-weight: 300;
    color: $color-vulcan;
    letter-spacing: 0.01em;

    caret-color: $color-aluminium;
    border: none;
    outline: none;

    @include vp--1023 {
      font-size: size(14px);
      line-height: size(21px);
    }

    &::placeholder {
      color: $color-aluminium;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__result {
    display: none;
    position: absolute;
    top: size(80px);
    width: 100%;
    height: size(300px);
    background-color: $color-default-white;
    box-shadow: 0 8px 20px $color-gainsboro;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: size(9px);
      background-color: $color-alice-blue;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-link-water;
    }

    @include vp--1023 {
      top: size(42px);
      height: size(243px);

      &::-webkit-scrollbar {
        width: size(6px);
      }
    }

    @include vp--767 {
      top: size(50px);
    }

    a {
      display: block;
      padding: size(16px) size(28px) size(19px);
      color: $color-default-black;
      line-height: size(25px);
      cursor: pointer;

      @include vp--1023 {
        font-size: size(14px);
        line-height: size(21px);
        padding: size(16px) size(28px) size(12px);
      }

      &:hover,
      &:focus {
        background-color: $color-alice-blue;
      }
    }
  }

  &__empty {
    display: none;
    position: absolute;
    top: size(80px);
    width: 100%;
    height: size(140px);
    padding: size(30px) size(30px) size(45px);
    background-color: $color-default-white;
    box-shadow: 0 8px 20px $color-gainsboro;

    h3 {
      font-weight: 400;
      margin-bottom: 5px;

      @include vp--1023 {
        font-size: size(21px);
        line-height: size(32px);
      }

      @include vp--767 {
        font-size: size(16px);
        line-height: size(21px);
      }
    }

    p {
      margin: 0;
      font-weight: 300;
      font-size: size(18px);
      line-height: size(25px);
      color: $color-vulcan;

      @include vp--1023 {
        font-size: size(14px);
        line-height: size(21px);
      }

      @include vp--767 {
        font-size: size(13px);
      }
    }

    @include vp--1023 {
      top: size(50px);
    }
  }

  &--intro {
    margin-bottom: size(100px);
    padding: 0;
    color: $color-default-white;
    background: $gable-green-to-right;

    @include vp--1919 {
      margin-bottom: size(59px);
    }

    @include vp--767 {
      margin-bottom: size(40px);
    }

    .container {
      @media (min-width: $vp--1920) {
        padding: 0 size(258px);
      }

      @include vp--767 {
        padding: 0 size(20px);
      }
    }

    .search-form__wrapper {
      flex-direction: column;
      padding: size(100px) 0 size(125px);
      background: transparent;

      @include vp--1919 {
        padding: size(80px) 0 size(143px);
      }

      @include vp--1023 {
        padding: size(62px) 0 size(60px);
      }

      @include vp--767 {
        padding: size(10px) 0 size(42px);
      }
    }

    .search-form__heading {
      max-width: 100%;
    }

    .search-form__block {
      margin-top: 0;

      @include vp--1919 {
        width: size(896px);
      }

      @include vp--1023 {
        width: size(600px);
      }

      @include vp--767 {
        width: size(319px);
      }
    }

    .search-form__title {
      margin-bottom: size(16px);
      font-size: size(48px);
      line-height: size(58px);
      color: $color-default-white;

      @include vp--1023 {
        margin-bottom: size(6px);
        font-size: size(32px);
        line-height: size(38px);
      }

      @include vp--767 {
        margin-bottom: size(10px);
        font-size: size(20px);
        line-height: size(30px);
      }
    }

    .search-form__text {
      margin-bottom: size(20px);

      @include vp--1023 {
        font-size: size(14px);
        line-height: size(21px);
      }

      @include vp--767 {
        font-size: size(13px);
        letter-spacing: 0;
        margin-bottom: size(16px);
      }
    }
  }

  &.is-choice {
    .search-form__result {
      display: block;
    }
  }

  &.no-choice {
    .search-form__empty {
      display: block;
    }
  }
}
