// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-vulcan:                          #323640;
$color-vulcan-hover:                    #39434d;
$color-aluminium:                       #868a90;
$color-light-slate-grey:                #868a91;
$color-link-water:                      #d2d6dd;
$color-gainsboro:                       #d9d9d9;
$color-silver:                          #c4c4c4;
$color-whisper:                         #e5e5e5;
$color-solitude:                        #e1e9f6;
$color-alice-blue:                      #f4f7f9;
$color-hawkes-blue:                     #dee1e6;
$color-alice-blue:                      #f4f7f9;
$color-golden-yellow:                   #ffe700;
$color-golden-yellow-hover:             #f1db06;
$color-tax-break:                       #426b71;
$color-royal-blue:                      #4285f4;
$color-dark-spring-green:               #077339;
$color-wild-watermelon:                 #ff526f;
$color-dodger-blue:                     #0d82ee;

// Gradient

$gable-green-to-right:              linear-gradient(270.25deg, rgb(33, 79, 70) 3.13%, rgb(77, 136, 125) 88.37%);

// Typography
//---------------------------------

$font-family--mplus1p:              "M PLUS 1p", "Arial", sans-serif;
$font-family--manrope:              "Manrope", "Arial", sans-serif;

// https://www.artlebedev.ru/kovodstvo/sections/159/
$font-family--rouble:               "Rouble", "Arial", sans-serif;

// Animation
//---------------------------------

$trans--300:                        0.3s ease;
$trans--600:                        0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$vp--320:                           320px;
$vp--360:                           360px;
$vp--768:                           768px;
$vp--1024:                          1024px;
$vp--1280:                          1280px;
$vp--1440:                          1440px;
$vp--1920:                          1920px;

// Retina
//---------------------------------

$retina-dpi:                        192dpi;
$retina-dppx:                       2dppx;
