.card-contact {
  width: size(440px);
  min-height: size(286px);
  padding: size(40px);

  color: $color-vulcan;
  background-color: $color-golden-yellow;

  @include vp--1919 {
    width: size(390px);
    min-height: size(283px);
  }

  @include vp--1279 {
    width: size(330px);
    min-height: size(248px);
    padding: size(30px);
  }

  &__title {
    margin: 0;
    margin-bottom: size(30px);
    padding: 0;

    font-size: size(16px);
    line-height: size(24px);
    color: $color-aluminium;

    text-transform: uppercase;
    opacity: 0.5;

    @include vp--1919 {
      margin-bottom: size(6px);
    }

    @include vp--1279 {
      font-size: size(12px);
      line-height: size(18px);

      /* stylelint-disable-next-line */
      br {
        display: none;
      }
    }

    @include vp--1279 {
      margin-bottom: size(15px);
    }
  }

  &__tel {
    margin: 0;
    margin-bottom: size(10px);
    padding: 0;

    font-weight: 700;
    font-size: size(24px);
    line-height: size(34px);
    letter-spacing: -0.03em;
    color: $color-vulcan;

    @include vp--1279 {
      margin-bottom: size(15px);
    }
  }

  &__tel.link {
    @include vp--1279 {
      font-size: size(18px);
      line-height: size(25px);
    }
  }

  &__desc {
    margin: 0;
    padding: 0;

    font-size: size(18px);
    line-height: size(27px);
    color: $color-vulcan;

    @include vp--1919 {
      letter-spacing: -0.05em;
    }

    @include vp--1279 {
      font-size: size(14px);
      line-height: size(21px);
    }
  }

  &--ts {
    position: relative;

    color: $color-default-white;
    background-color: transparent;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";

      width: 100%;
      height: 100%;

      background-color: $color-default-white;
      opacity: 0.1;
    }

    .card-contact__title {
      color: $color-link-water;
    }

    .card-contact__tel,
    .card-contact__desc {
      color: $color-default-white;
    }
  }
}
