.filter-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include vp--1023 {
    overflow: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-right: size(-40px);
  }

  button {
    display: inline-block;
    margin-right: size(15px);
    margin-bottom: size(10px);

    @include vp--767 {
      margin-bottom: 0;
    }
  }

  &__btn-active {
    background-color: $color-golden-yellow;
  }
}
