.link {
  display: inline-block;
  vertical-align: middle;

  font-size: size(18px);
  line-height: size(32px);
  color: $color-default-white;
  text-decoration: none;

  border-bottom: none;
  transition: border-bottom $trans--300;

  cursor: pointer;

  @include vp--1023 {
    font-size: size(14px);
    line-height: size(21px);
  }

  &--white {
    &::after {
      content: "";
      display: block;
      width: 0;
      height: size(1px);
      background: $color-default-white;
      transition: width $trans--600;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover::after,
      &:focus::after {
        width: 100%;
      }
    }
  }

  &--black {
    color: $color-vulcan;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: size(1px);
      background: $color-vulcan;
      transition: width $trans--600;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover::after,
      &:focus::after {
        width: 100%;
      }
    }
  }

  &--grey {
    color: $color-light-slate-grey;
    transition: color $trans--600;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-vulcan;
      }
    }
  }

  &--blue {
    color: $color-royal-blue;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: size(1px);
      background: $color-royal-blue;
      transition: width $trans--600;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover::after,
      &:focus::after {
        width: 100%;
      }
    }
  }

  &--arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: size(24px);
    line-height: size(36px);
    color: $color-vulcan;
    transition: color $trans--300;

    svg {
      margin-left: size(12px);
      width: size(52px);
      height: size(52px);
      object-fit: cover;
    }

    @include vp--1023 {
      font-size: size(21px);
      line-height: size(32px);
    }

    @include vp--767 {
      font-size: size(16px);
      line-height: size(24px);
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-golden-yellow;
      }
    }

    &:active {
      color: $color-golden-yellow;
    }
  }

  &--dodger-blue {
    font-size: size(16px);
    line-height: size(24px);
    color: $color-dodger-blue;
    transition: color $trans--300;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-vulcan;
      }
    }

    &:active {
      color: $color-vulcan;
    }
  }
}
